API_ID=
API_HASH=
BOT_TOKEN=
LOGGER_ID=
MONGO_DB_URI=

# YouTube Worker API
WORKER_FALLBACK_API_URL=https://youtubenewapi.skybotsdeveloper.workers.dev
WORKER_FALLBACK_API_KEY=

OWNER_ID=
STRING_SESSION=
